C#/Silverlight/silverlight源码/DeepEarth/DeepEarth.Source/DeepEarth/DeepEarth.Provider.VirtualEarth/Service References/TokenService/VETokenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://codeplex.com/deepearth" elementFormDefault="qualified" targetNamespace="http://codeplex.com/deepearth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>