C#/Silverlight/silverlight源码/Silverlight20/Silverlight20/Service References/WCFServiceReference/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3036/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3036/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3036/WCFService.svc?xsd=xsd2" namespace="http://webabcd.cnblogs.com/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="WCFService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="WCFService_GetUserByCryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCryptography" />
  </wsdl:message>
  <wsdl:message name="WCFService_GetUserByCryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCryptographyResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFService/GetUser" message="tns:WCFService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFService/GetUserResponse" message="tns:WCFService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByCryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/WCFService/GetUserByCryptography" message="tns:WCFService_GetUserByCryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WCFService/GetUserByCryptographyResponse" message="tns:WCFService_GetUserByCryptography_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_WCFService" type="tns:WCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/WCFService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByCryptography">
      <soap:operation soapAction="http://tempuri.org/WCFService/GetUserByCryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_WCFService" binding="tns:BasicHttpBinding_WCFService">
      <soap:address location="http://localhost:3036/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>