C#/Silverlight/Silverlight/behavior鼠标拖动支持/Interactivity/TestApp/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="Children" type="tns:Children1" />
    </xs:sequence>
    <xs:attribute blend:Format="Company Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="images" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="1,8" name="CompanyName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Children1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChildrenItem1" type="tns:ChildrenItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChildrenItem1">
    <xs:attribute blend:Format="Website URL" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="ChildrenItem">
    <xs:sequence>
      <xs:element name="Children" type="tns:Children" />
    </xs:sequence>
    <xs:attribute blend:Format="Website URL" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Children">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChildrenItem" type="tns:ChildrenItem" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>